@model Eximination

@if(Model.Result.Equals("healthy"))
{
    
        <h1>Advices</h1>
}
else if (Model.Result.Equals("firstCancer"))
{
    <select class="form form-control">
    @foreach (var item in ViewBag.Treatments)
    {
        <option>@item.Name</option>
    }
    </select>
    
    <h1>Tratement@(Model.MCH)</h1>

<div class="center2">
   
    <table class="table text-light">
      <thead>
        <tr>
          <th scope="col">TreatmentName</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          @foreach (var item in ViewBag.Treatments){
          <td>@item</td>
          <td>@item</td>

          }
        </tr>
      </tbody>
    </table>
       
</div>

}
else if (Model.Result.Equals("SecondCancer"))
{
    
    <select class="form form-control">
    @foreach (var item in ViewBag.Treatments)
    {
        <option>@item.Name</option>
    }
    </select>

    <h1>Tratement@(Model.MCH)</h1>

<div class="center2">
   <select class="form form-control">
    @foreach (var item in ViewBag.Treatments)
    {
        <option>@item.Name</option>
    }
    </select>

    <br/>

    <table class="table text-light">
      <thead>
        <tr>
           <th scope="col">#</th>
          <th scope="col">TreatmentName</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>D</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
       
</div>
 

}

