@model Eximination

@if(Model.Result.Equals("healthy"))
{
    
        <h1>We are happy to be here and we wish you continued health and wellness, and please always make sure to do everything necessary to maintain the highest levels of health, </h1>

}
else if (Model.Result.Equals("firstCancer"))
{
<div style="background-color:rgb(0, 0, 0, 0.85);text-align:center;width:700px;margin:auto;border-radius:20px;margin-bottom:10px;height:auto;color:white;padding:15px;font-size:20px;margin-top:50px">
<p>" We are sad to inform you that you are in the <span style="color:red">first stage of cancer</span>, so please adhere to the following treatment in the list for your own safety "</p></div>
<div style="background-color:rgb(0, 0, 0, 0.85);text-align:center;width:550px;margin:auto;border-radius:20px">
   
    <table class="table text-light">
      <thead>
        <tr >
          <th style="font-size:20px;padding:20px" scope="col">TreatmentName</th>
          <th style="font-size:20px;padding:20px" scope="col">Quantity (Every day)</th>
        </tr>
      </thead>
      <tbody>
        
          @foreach (var item in ViewBag.Treatments){
          <tr>
          <td>@item.Name</td>
          <td>@item.Amount</td>
          </tr>
          }
        
      </tbody>
    </table>
       
</div>

}
else if (Model.Result.Equals("SecondCancer"))
{
 <div style="background-color:rgb(0, 0, 0, 0.85);text-align:center;width:700px;margin:auto;border-radius:20px;margin-bottom:10px;height:auto;color:white;padding:15px;font-size:20px;margin-top:50px">
<p>" We are sad to inform you that you are in the <span style="color:red">Second stage of cancer</span>, so please adhere to the following treatment in the list for your own safety "</p></div>
<div style="background-color:rgb(0, 0, 0, 0.85);text-align:center;width:550px;margin:auto;border-radius:20px">
   
    <table class="table text-light">
      <thead>
        <tr>
          <th scope="col">TreatmentName</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        
          @foreach (var item in ViewBag.Treatments){
          <tr>
          <td>@item.Name</td>
          <td>@item.Amount</td>
          </tr>
          }
        
      </tbody>
    </table>
       
</div>
 

}
else if (Model.Result.Equals("ThirdCancer"))
{
 <div style="background-color:rgb(0, 0, 0, 0.85);text-align:center;width:700px;margin:auto;border-radius:20px;margin-bottom:10px;height:auto;color:white;padding:15px;font-size:20px;margin-top:50px">
<p>" We are sad to inform you that you are in the <span style="color:red">Third stage of cancer</span>, so please adhere to the following treatment in the list for your own safety "</p></div>
<div style="background-color:rgb(0, 0, 0, 0.85);text-align:center;width:550px;margin:auto;border-radius:20px">
   
    <table class="table text-light">
      <thead>
        <tr>
          <th scope="col">TreatmentName</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        
          @foreach (var item in ViewBag.Treatments){
          <tr>
          <td>@item.Name</td>
          <td>@item.Amount</td>
          </tr>
          }
        
      </tbody>
    </table>
       
</div>
 

}

